<div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-danger">
                <!-- /.box-header -->
                <!-- form start -->
                <div class="box-body">
                    <div class="form-group">
                        <label>Name</label>
                        <label id="id" style="display:none;"></label>
                        <input id="name" type="text" class="form-control client-form"/>
                    </div>
                    <div class="form-group">
                        <label>Client Type</label>
                        <select id="client_type" class="form-control">
                            <option value="PAID">Paid</option>
                            <option value="FREE">Free</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Billing Type</label>
                        <select id="billing_type" class="form-control">
                            <option value="0">Pre Paid</option>
                            <option value="1">Post Paid</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input id="address" type="text" class="form-control client-form" />
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input id="city" type="text" class="form-control client-form" />
                    </div>
                    <div class="form-group">
                        <label>Postal</label>
                        <input id="postal" type="text" class="form-control client-form" />
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input id="phone" type="text" class="form-control client-form" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input id="email" type="text" class="form-control client-form"/>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select id="status" class="form-control">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">

    function save(){

        $.post('/client/save',
        {
            name: $('#name').val(),
            client_type: $('#client_type').val(),
            billing_type: $('#billing_type').val(),
            address: $('#address').val(),
            city: $('#city').val(),
            postal: $('#postal').val(),
            phone : $('#phone').val(),
            email : $('#email').val(),
            status : $('#status').val()
        },
        function(data, status){
           alert('status '+status);

        });
    }

     function update(){

        $.post('/client/update',
        {
            id: $('#id').val(),
            name: $('#name').val(),
            client_type: $('#client_type').val(),
            billing_type: $('#billing_type').val(),
            address: $('#address').val(),
            city: $('#city').val(),
            postal: $('#postal').val(),
            phone : $('#phone').val(),
            email : $('#email').val(),
            status : $('#status').val()
        },
        function(data, status){
           alert('status '+status);

        });
    }




</script>
