<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<style>
    .example-modal .modal {
      position: relative;
      top: auto;
      bottom: auto;
      right: auto;
      left: auto;
      display: block;
      z-index: 1;
    }

    .example-modal .modal {
      background: transparent !important;
    }
  </style>
<script type="text/javascript">


    function loadCreateModal(){

        $.ajax({
          url: '/client/create',
          context: document.body
        }).done(function(data) {
            $( "#body-create" ).html(data);
        });
    }

    function loadEditModal(id){

        $.ajax({
          url: '/client/edit',
          context: document.body
        }).done(function(data) {
            $( "#body-create" ).html(data);
        });

        $.ajax({
          url: '/client/id',
          context: document.body
        }).done(function(data) {
            $( "#body-create" ).html(data);
        });

    }

    function openCreateForm(){
         loadCreateModal();
         $('#btn-save').show();
         $('#btn-update').hide();
         $('#modal-create').modal('show');
    }

    function openEditForm(this){
         var id = $(href).attr('href');
         loadEditModal(id);
         $('#btn-update').show();
         $('#btn-save').hide();
         $('#modal-create').modal('show');
    }



</script>


<section class="content-header">
    <h1>
        Client Account
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-form"></i> Home</a></li>
        <li><a href="#">Config</a></li>
        <li><a href="#">Client</a></li>
        <li class="active">Account</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <hr style="margin:0 0 5px 0;border-color:#d2d6de;"/>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-danger btn-flat pull-right" onclick="openCreateForm();" >Add Client</button>
        </div>
    </div>
    <hr style="margin:5px 0 5px 0;border-color:#d2d6de;"/>

    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-danger">

                <!-- /.box-header -->
                <div class="box-body">
                    <table id="client-table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Client Type</th>
                            <th>Billing Type</th>
                            <th>Address</th>
                            <th>City</th>
                            <th>Postal</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th> </th>
                        </tr>
                        </thead>
                        <tbody id="tbody">

                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">

                </div>
            </div>

        </div>
        <!--/.col (left) -->
        <!-- right column -->
    </div>
    <!-- /.row -->
</section>


<div class="modal fade" id="modal-create">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create New Client</h4>
            </div>
            <div id="body-create" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" id="btn-save" onclick="save();" class="btn btn-danger btn-flat">Save</button>
                <button type="button" id="btn-update" onclick="update();" class="btn btn-danger btn-flat" style="display:none;">Update</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script type="text/javascript">
     $(function(){

        function getAllData(){
            var trHTML = '';
               $.get("/client/data", function(data) {
                     $.each(data, function(i, element){
                                  trHTML = trHTML + '<tr><td>'+element.id+'</td>';
                                  trHTML = trHTML + '<td>'+element.name+'</td>';
                                  trHTML = trHTML + '<td>'+element.client_type+'</td>';

                                  var billType = element.billing_type;

                                  if(billType==0){
                                      trHTML = trHTML + '<td>Prepaid</td>';
                                  }else{
                                      trHTML = trHTML + '<td>Postpaid</td>';
                                  }

                                 trHTML = trHTML + '<td>'+element.address+'</td>';
                                 trHTML = trHTML + '<td>'+element.city+'</td>';
                                 trHTML = trHTML + '<td>'+element.postal+'</td>';
                                 trHTML = trHTML + '<td>'+element.phone+'</td>';
                                 trHTML = trHTML + '<td>'+element.email+'</td>';

                                 var status = element.status;

                                 if(status==1){
                                      trHTML = trHTML + '<td>Active</td>';
                                 }else{
                                      trHTML = trHTML + '<td>Inactive</td>';
                                 }

                                 trHTML = trHTML + '<td><a href="'+element.id+' onclick="openEditForm(this);return false;">edit</a></td></tr>';
                        });

                        console.log(trHTML);
                        $('#tbody').html(trHTML);
                        $('#client-table').dataTable();

            });


        }


       getAllData();

     })

</script>