<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <hr style="margin:0 0 5px 0;border-color:#d2d6de;"/>
    <form method="get" class="form-inline form-filter">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" class="form-control drpicker" name="periodes" placeholder="Periode" value="2017-10-02 - 2018-01-02"/>
                </div>
                <button type="submit" class="btn btn-default btn-flat"><span class="fa fa-search"></span> Reload</button>
                <h4 class="pull-right muted">Periode: <strong>02 Oct 2017 - 02 Jan 2018</strong></h4>
            </div>
        </div>
    </form>
    <hr style="margin:0 0 5px 0;border-color:#d2d6de;"/>

    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>150</h3>

                    <p>Total Sender ID</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                    <p>Total Transaction</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>44</h3>

                    <p>Transaction Success</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>65</h3>

                    <p>Transaction Failed</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->

    <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tbody><tr>
                            <th style="width: 10px">#</th>
                            <th>Sender ID</th>
                            <th>Transaction</th>
                        </tr>
                        <tr>
                            <td>1.</td>
                            <td>INFOMEDIA</td>
                            <td>100000</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>TELKOM147</td>
                            <td>100000</td>
                        </tr>
                        </tbody></table>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box">
                <div class="box-body">
                    <div style="text-align:center;">
                        <hr style="margin:10px 0;"/>
                        <div class="description-block border-left " style="display:inline-block;padding:1em 3em;">
                            <div class="description-percentage">
                                <span style="color:#dd4b39">71.10%</span>
                            </div>
                            <h5 class="description-header">2,446,638</h5>
                            <div class="description-text"><span style="color:#dd4b39">TELKOMSEL</span></div>
                        </div>
                        <div class="description-block border-left " style="display:inline-block;padding:1em 3em;">
                            <div class="description-percentage">
                                <span style="color:#fcdc3b">13.28%</span>
                            </div>
                            <h5 class="description-header">456,849</h5>
                            <div class="description-text"><span style="color:#fcdc3b">INDOSAT</span></div>
                        </div>
                        <div class="description-block border-left " style="display:inline-block;padding:1em 3em;">
                            <div class="description-percentage">
                                <span style="color:#3c8dbc">11.02%</span>
                            </div>
                            <h5 class="description-header">379,380</h5>
                            <div class="description-text"><span style="color:#3c8dbc">XL</span></div>
                        </div>
                        <div class="description-block border-left " style="display:inline-block;padding:1em 3em;">
                            <div class="description-percentage">
                                <span style="color:#605ca8">1.37%</span>
                            </div>
                            <h5 class="description-header">47,034</h5>
                            <div class="description-text"><span style="color:#605ca8">AXIS</span></div>
                        </div>
                        <div class="description-block border-left " style="display:inline-block;padding:1em 3em;">
                            <div class="description-percentage">
                                <span style="color:#000000">2.53%</span>
                            </div>
                            <h5 class="description-header">87,214</h5>
                            <div class="description-text"><span style="color:#000000">THREE</span></div>
                        </div>
                        <div class="description-block border-left " style="display:inline-block;padding:1em 3em;">
                            <div class="description-percentage">
                                <span style="color:#f39c12">0.42%</span>
                            </div>
                            <h5 class="description-header">14,399</h5>
                            <div class="description-text"><span style="color:#f39c12">SMARTFREN</span></div>
                        </div>
                        <div class="description-block border-left " style="display:inline-block;padding:1em 3em;">
                            <div class="description-percentage">
                                <span style="color:#999999">0.22%</span>
                            </div>
                            <h5 class="description-header">7,454</h5>
                            <div class="description-text"><span style="color:#999999">UNKNOWN</span></div>
                        </div>
                        <hr style="margin:10px 0;"/>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <section class="col-lg-5 connectedSortable">

            <div class="box">
                <div class="box-header">
                    <i class="fa fa-comments-o"></i>
                    <h3 class="box-title">Operator</h3>
                </div>
                <div class="box-body">
                    <div id="sales-chart" style="position: relative; height: 300px;"></div>
                </div>
            </div>




        </section>
        <!-- right col -->
    </div>
    <!-- /.row (main row) -->

</section>
<!-- /.content -->
  