<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Send Single SMS
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-form"></i> Home</a></li>
        <li><a href="#">Send SMS</a></li>
        <li class="active">Single</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-danger">
                <!-- /.box-header -->
                <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="lblMSISDN">MSISDN/Phone Number</label>
                            <input id="phone" type="phone" class="form-control sms-form"  placeholder="Example : 08123456789"/>
                        </div>
                        <div class="form-group">
                            <label for="lblSchedule">Request By</label>
                            <input id="request_by" type="text" class="form-control sms-form"  placeholder=""/>
                        </div>
                        <div class="form-group">
                            <label for="lblSenderID">Sender ID</label>
                            <select class="form-control">
                                <option>INFOMEDIA</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="lblSMSText">SMS Text</label>
                            <textarea id="sms_text" class="form-control sms-form" rows="2" placeholder="Example : This Is Message from Infomedia" ></textarea>
                        </div>
                        <div class="form-group">
                            <label for="lblSchedule">Schedule</label>
                            <input  type="text" class="form-control sms-form" id="schedule" placeholder=""/>
                        </div>
                        <div class="form-group">
                            <p class="help-block">Count Char/SMS : 160/1</p>
                        </div>

                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button id="btn_send" class="btn btn-danger">Submit</button>
                    </div>
            </div>

        </div>
        <!--/.col (left) -->
        <!-- right column -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>


    $( "#btn_send" ).click(function() {


        $.ajax({
          url: "/sms/single/post",
          context: document.body
        }).done(function(data) {
            alert(data);
            $(".sms-form").val("");
        });



    });

</script>