<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Help
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-form"></i> Home</a></li>
         <li class="active"> Help</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-danger">
                <div class="box-header">
                    Documentation
                </div>
                <div class="box-body">
                    <button class="btn btn-danger">Download Documentation</button>
                </div>
                <!-- /.box-body -->


            </div>

        </div>
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-danger">
                <div class="box-header">
                    Countact Us Here
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th>Phone</th>
                            <th>1500463</th>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <th>ioc.itservices.inf@gmail.com / ioc@infomedia.co.id</th>
                        </tr>
                        <tr>
                            <th>Service Desk</th>
                            <th>ioc.infomedia.co.id</th>
                        </tr>
                        <tr>
                            <th>Telegram Bot</th>
                            <th>i_o_c_bot</th>
                        </tr>
                    </tbody></table>
                </div>
            </div>

        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>


    $( "#btn_send" ).click(function() {


        $.ajax({
          url: "/sms/single/post",
          context: document.body
        }).done(function(data) {
            alert(data);
            $(".sms-form").val("");
        });



    });

</script>