<section class="content-header">
    <h1>
        SMS Traffic Report
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-form"></i> Home</a></li>
        <li><a href="#">Report</a></li>
        <li class="active">Traffic</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-danger">
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right date date" data-date-format="mm/dd/yyyy" id="start_date" placeholder="Start Date"/>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right date" id="end_date" placeholder="End Date"/>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control">
                                <option>INFOMEDIA</option>
                            </select>
                        </div>

                        <div class="col-sm-2">
                            <button type="button" class="btn btn-block btn-danger">Show Data</button>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-block btn-danger">Download</button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="box box-danger">
                <div class="box-header">
                    <h1 class="box-title">Total : 1000</h1>
                    <div class="box-tools">
                        <ul class="pagination pagination-sm no-margin pull-right">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>MSISDN</th>
                            <th>SENDER ID</th>
                            <th>MESSAGE</th>
                            <th>OPTNAME</th>
                            <th>CREATED DATE</th>
                            <th>SENT DATE</th>
                            <th>COUNT</th>
                            <th>SENT STATUS</th>
                            <th>DLV STATUS</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1000</td>
                                <td>082219194323</td>
                                <td>INFOMEDIA</td>
                                <td>Contoh SMS menggunakan aplikasi INFOMEDIA SMS, tahun 2018</td>
                                <td>TELKOMSEL</td>
                                <td>2018-01-01 12:00:00</td>
                                <td>2018-01-01 12:00:00</td>
                                <td>1</td>
                                <td>SUCCESS</td>
                                <td>DELIVERED</td>
                            </tr>


                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">

                </div>
            </div>

        </div>
        <!--/.col (left) -->
        <!-- right column -->
    </div>
    <!-- /.row -->
</section>
<!-- DataTables -->
<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<!-- SlimScroll -->

<script>

   $(function(){

        $(".date").datepicker({
            format: 'yyyy-mm-dd'
        });

  })




</script>
